/*scrum karla*/
*{
  outline: 1px solid red;
}
body{
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
nav{
  float: right;
}
hr{
  background: #ededed;
}
a{
  text-decoration: none;
  color: white;
}
.header-down{
  height: 800px;
  z-index: 0;
  background: url("../img/background/hero.jpg")top center;
}
.header-up{
  height: 800px;
  padding-top:60px;
  width: 100%;
  z-index: 1;
  background:rgba(0,0,0,0.6);
}
.menu_interno{
  text-align: center;
}
.menu_interno li{
  display: inline;
  list-style: none;
  padding: 12px;
}
.section-call-to-action-down{
  height: 500px;
  background: url("../img/background/city.jpg")top center;
  background-size: cover;
  z-index: 0;
}
.call-to-action-up{
  height: 500px;
  z-index: 1;
  padding: 150px 0;
  background:rgba(0,0,0,0.6);
}
.contact-down{
  height: 800px;
  z-index: 0;
  background:url("../img/background/contactus.jpg")center center;
  background-size: cover;
}
.contact-up{
  height: 800px;
  z-index: 1;
  background:rgba(0,0,0,0.6);
}

/*-----------classes unicas----------*/
.logo{
  height: 50px;
  width: 150px;
  display: inline;
  padding: 20px;
  top: 17px;
  position: relative;
}
.star{
  height: 30px;
  width: 30px;
  display: inline;
}
.inline{
  display: inline;
}
.face{
  margin: 200px auto;
}
.customer{
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.fat{
  font-size: 25px;
}
/*-----------backgrounds----------*/
.back-gray{
  background: #f2f2f2;
  padding-bottom: 50px;
}
.bg-black,.bg-blue{
  height: 75px;
  padding-top: 10px;
}
.bg-black{
  background: #323a45;
}
.bg-blue{
  background: #0dbfbf;
  margin-top: 20px;
}
.bg-gray{
  background: #f0f0f0;
  padding-top: 10px;
  height: 100px;
  padding-top: 30px;
  margin-bottom: 20px;
}
.bg-white{
  background: white;
}
/*-----------botones----------*/
.bn1{
  margin-left: 35%;
}
.bn2{
  background: white;
  opacity: 0.1;
}
.bn1,.bn3{
   background: #2c3138;
}
.bn4{
  margin-left: 35%;
  background: #0dbfbf;
}
/*--------paddings-------*/
.pd{
  padding: 40px;
}
.pd-10{
  padding: 10px;
}
/*--------margenes-------*/
.mg-o{
  margin-left: auto;
  margin-right: auto;
}
.mg{
  margin: 20px;
  color: black;
}
.mg-t-20{
  margin-top: 20px;
}
.active{
  color:#009ba6;
}
.activebg{
  background: #009ba6;
}
.activebg a{
  color: white;
}
.laptop{
  height: 300px;
  width: auto;
  margin: 0 auto;
}
/*--------iconoss-------*/
i,.ib{
  font-size: 50px;
  color:#0dbfbf;
}
.ib{
  color: black;
  margin-right: 20px;
}
.iw{
  color: white;
  font-size: 20px;display: inline;
  margin-right: 10px;
}